{::nomarkdown}
<img id="headshot" src="{{ '/images/logo/360.png' | prepend: site.assets_path }}" alt="remarkablemark">
{:/}

<script>
(function() {
  // hide the headshot image initially and slide it up when the image has loaded
  var element = document.getElementById('headshot');
  element.style.bottom = '-100%';

  // load higher quality image for larger screen sizes
  if (innerWidth > 1080) {
    element.src = '{{ "/images/logo/1080.png" | prepend: site.assets_path }}';
  } else if (innerWidth > 720) {
    element.src = '{{ "/images/logo/720.png" | prepend: site.assets_path }}';
  }

  var interval = setInterval(function() {
    if (element.complete) {
      clearInterval(interval);
      element.style.bottom = 0;
    }
  }, 100);
})();
</script>
