<input type="checkbox" id="nav-toggle" />
<nav role="nav" class="nav noselect">
    <ul class="nav-list">
        <li><a href="/">Home</a></li>
        <li><a href="/blog/">Blog</a></li>
        <li><a href="/projects/">Projects</a></li>
        <li><a href="https://b.remarkabl.org/_github_" target="_blank">GitHub</a></li>
        <li><a href="https://b.remarkabl.org/___youtube" target="_blank">YouTube</a></li>
        <li><a href="https://b.remarkabl.org/__medium" target="_blank">Medium</a></li>
        <li><script type="text/javascript">
{% comment %}/* http://hivelogic.com/enkoder */{% endcomment %}
//<![CDATA[
<!--
(function(){
var x="function f(x){var i,o=\"\",l=x.length;for(i=0;i<l;i+=2) {if(i+1<l)o+=" +
"x.charAt(i+1);try{o+=x.charAt(i);}catch(e){}}return o;}f(\"ufcnitnof x({)av" +
" r,i=o\\\"\\\"o,=l.xelgnhtl,o=;lhwli(e.xhcraoCedtAl(1/)3=!84{)rt{y+xx=l;=+;" +
"lc}tahce({)}}of(r=i-l;1>i0=i;--{)+ox=c.ahAr(t)i};erutnro s.buts(r,0lo;)f}\\" +
"\"(4),9\\\"\\\\20\\\\02\\\\03\\\\\\\\22\\\\01\\\\00\\\\\\\\05\\\\00\\\\03\\" +
"\\\\\\3D01\\\\\\\\37\\\\0V\\\\ABpk_r8%7E17\\\\\\\\ye7;17\\\\\\\\sau|lcglkym" +
"dFuvnobo;\\\\n1\\\\02\\\\\\\\25\\\\02\\\\03\\\\\\\\27\\\\0[\\\\J$20\\\\00\\" +
"\\02\\\\\\\\06\\\\03\\\\03\\\\\\\\0R02\\\\\\\\ML3F00\\\\\\\\00\\\\06\\\\01\\"+
"\\\\\\36\\\\00\\\\00\\\\\\\\32\\\\00\\\\02\\\\\\\\1H02\\\\\\\\\\\\n6\\\\00\\"+
"\\\\\\17\\\\04\\\\02\\\\\\\\03\\\\00\\\\\\\\:(\\\"}fo;n uret}r);+)y+^(i)t(e" +
"AodrCha.c(xdeCoarChomfrg.intr=So+7;12%={y+)i+l;i<0;i=r(foh;gten.l=x,l\\\"\\" +
"\\\\\"\\\\o=i,r va){,y(x fontincfu)\\\"\")"                                  ;
while(x=eval(x));
})();
//-->
//]]>
		</script></li>
        <li><label for="nav-toggle"><span class="close-button">&#x2715;</span></label></li>
    </ul>
</nav>
