<input type="checkbox" id="nav-toggle">

<nav role="nav" class="nav noselect">
  <ul class="nav-list">
    <li>
      <label class="close-button" aria-label="Hide navigation" for="nav-toggle" role="button" tabindex="0" onkeypress="rmk.toggleNav(event)">&#x2715;</label>
    </li>
    {% for nav in site.data.nav %}
      <li>
        <a href="{{ nav.link }}"{% if nav.external %} target="_blank" rel="noopener noreferrer"{% endif %}>{{ nav.text }}</a>
      </li>
    {% endfor %}
  </ul>
</nav>

<script>
(function(){
  window.rmk = window.rmk || {};
  window.rmk.toggleNav = function(e) {
    if ([13, 32].indexOf(e.keyCode) === -1) return;
    e.preventDefault();
    e.target.click();
  };
})();
</script>
