<input type="checkbox" id="nav-toggle">
<nav role="nav" class="nav noselect">
  <ul class="nav-list">
    <li>
      <label for="nav-toggle" class="close-button" role="button" onkeypress="toggleNav(event)">
        &#x2715;
      </label>
    </li>
    <li><a href="/">Home</a></li>
    <li><a href="/blog/">Blog</a></li>
    <li><a href="/projects/">Projects</a></li>
    <li><a href="https://b.remarkabl.org/github" target="_blank">GitHub</a></li>
    <li><a href="https://b.remarkabl.org/games" target="_blank">Games</a></li>
    <li><a href="https://b.remarkabl.org/youtube" target="_blank">YouTube</a></li>
    <li><a href="https://b.remarkabl.org/medium" target="_blank">Medium</a></li>
    <li><a href="mailto:mark@remarkablemark.org">Contact</a></li>
  </ul>
</nav>
