{% comment %} Skeleton {% endcomment %}
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />
{% comment %} custom {% endcomment %}
<link rel="stylesheet" type="text/css" href="/static/css/main.css" />

<!--[if lt IE 9]>
{% comment %} media query support {% endcomment %}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>

{% comment %} HTML5 shiv {% endcomment %}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>

{% comment %} REM unit polyfill {% endcomment %}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/rem/1.3.4/js/rem.min.js"></script>
<![endif]-->
