/**
 * Gist.
 */
.gist {
  td {
    border: inherit; // fix Skeleton override
  }
}

/**
 * Code block.
 */
.language-sh code::before {
  content: '$';
  margin-right: 1rem;
  color: #f8f8f2;
}

pre.highlight {
  padding: 8px 12px;
  position: relative;

  // override skeleton styles
  > code {
    border: 0;
    overflow-x: auto;
    padding-right: 0;
    padding-left: 0;
  }

  &.highlight {
    border-left: 15px solid #35383c;
    color: #c1c2c3;
    overflow: auto;
    white-space: pre;
    word-wrap: normal;

    &,
    code {
      background-color: #222;
      font-size: 18px;
    }
  }

  // show copy button when hovering over code block
  &:hover > button {
    opacity: 1;
  }

  // copy code to clipboard
  > button {
    background: $black;
    color: darken($white, 15%);
    opacity: 0;
    position: absolute;
    right: 1.2rem;
    top: 1.2rem;
    transition: all 0.2s ease-out;

    &:active,
    &:focus,
    &:hover {
      border-color: $white;
      color: $white;
      opacity: 1;
    }
  }
}
