/**
 * Gist.
 */
.gist {
  td {
    border: inherit; // fix Skeleton override
  }
}

/**
 * Codeblock.
 */
pre.highlight {
  padding: 8px 12px;
  position: relative;

  // override skeleton styles
  > code {
    border: 0;
    overflow-x: auto;
    padding-right: 0;
    padding-left: 0;
  }

  &.highlight {
    border-left: 15px solid #35383c;
    color: #c1c2c3;
    overflow: auto;
    white-space: pre;
    word-wrap: normal;

    &,
    code {
      background-color: #222;
      font-size: 18px;
    }
  }

  // copy code to clipboard
  .copy {
    color: $white;
    position: absolute;
    right: 1.2rem;
    top: 1.2rem;
    opacity: 0;

    &:active,
    &:focus,
    &:hover {
      background: rgba(0, 0, 0, 0.7);
      opacity: 1;
    }
  }

  &:active .copy,
  &:focus .copy,
  &:hover .copy {
    background: rgba(0, 0, 0, 0.7);
    opacity: 1;
  }
}
