$header-color: darken($grey, 20%); // #333;
$header-height: 85px;
$header-border-height: 2px;

/**
 * Header.
 */
.header {
  background-color: $header-color;
  border-bottom: $header-border-height solid $header-color;
  font-size: 4rem;

  .container {
    text-align: center; // center logo
    overflow: hidden; // cut out logo on active/focus/hover
  }

  // hamburger icon
  .menu {
    color: $white;
    line-height: $header-height;
    margin: 0; // remove additional margins coming from skeleton
    position: absolute; // ensure the logo is centered

    &:active,
    &:focus,
    &:hover {
      background-color: $white;
      color: $black;
      cursor: pointer;
      outline: 0;
    }
  }

  .logo-link {
    display: table;
    height: $header-height - $header-border-height;

    &:active,
    &:focus,
    &:hover {
      .logo {
        transform: translate(0, 4px);
      }
    }
  }

  // remarkablemark headshot
  .logo {
    bottom: 0;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 85px;
  }
}
