/**
 * Headshot.
 */
#headshot {
  bottom: 0;
  max-height: 45%;
  max-width: 100%;
  position: fixed;

  // center horizontally
  left: 0;
  right: 0;
  margin: 0 auto;

  // ensure headshot is behind header and main content
  z-index: -1;

  // slide up animation
  -webkit-transition: bottom 800ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  -moz-transition: bottom 800ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  -o-transition: bottom 800ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  transition: bottom 800ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
}
