/**
 * Header general
 */
.header {
    background-color: #333;
    color: #f8f8f8;
    cursor: pointer;
    font-size: 2.65em;
    font-size: 4rem;
    letter-spacing: 0.1rem;
    text-align: center;

    // header height
    height: 2em;
    line-height: 2em;

    > .container {
        height: 100%;
    }
}

/**
 * Header menu
 */
.hamburger {
    color: #ddd;

     &:hover {
        color: #fff;
     }
}

/**
 * Header logo
 */
.logo {
    background-color: #555;
    border-radius: 6px;
    color: #333;
    display: inline;
    padding: 0 8px;
}

.header:hover {
    .logo {
        background-color: #a32c2c;
        color: #4c0000;
    }

    // reset logo animation when hamburger icon is hovered
    ~ .logo {
        background-color: #555;
        color: #333;
    }
}
