/**
 * Headings.
 */
h1,
h2,
h3 {
  letter-spacing: -0.01rem;
  line-height: 1.37;
  margin: 3rem 0;
}

h3 {
  color: #666;

  > span {
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.9);
  }

  strong {
    color: #555;
  }
}

/**
 * Post.
 */
.post-meta {
  color: #666;
}

.post-link {
  font-size: 1.2em;

  &,
  &:hover {
    color: #e22a2a;
  }

  &:visited {
    color: #666;
  }
}

// list page
.post-list {
  list-style: none;
  margin-left: 0.25em;

  // keep date separated from title in list view
  .post-meta {
    margin-right: 0.25em;
    @include media-query($on-palm) {
      display: block;
    }
  }
}

// post page
.post {
  .post-title {
    line-height: 1.15;
    margin-bottom: 0.25em;
  }

  .post-meta {
    margin-top: 5px;
  }

  hr {
    margin: 1em 0;
  }

  // center images
  p > img {
    display: block;
    margin: 0 auto;
  }
}
