html,
body,
.wrap {
    height: 100%;
}
body {
    background-color: #eee;
    margin: 0; /* reset */
}
.nav {
    background-color: #444;
    /* background-color: #ca5252; */
    color: #f8f8f8;
    font-size: 2.65em;
    font-size: 4rem;
    letter-spacing: 0.1rem;
    line-height: 1.25;
    padding: 0.4em 0;
    text-align: center;
}
h3 {
    color: #666;
    letter-spacing: -0.01rem;
    margin: 3rem 0;
}
h3 > span {
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.9);
}
h3 strong {
    color: #555;
}
.headshot {
    bottom: 0;
    left: 0; right: 0; /* center horizontally */
    margin: 0 auto; /* ditto */
    max-width: 100%;
    position: fixed;
}
@media only screen and (min-width: 500px) {
    .headshot {
        height: 50%;
    }
}
/* slide head up animation */
.slide-head-up {
    -moz-animation-name: slideHeadUp;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-in;
    -moz-animation-duration: 500ms;
    -webkit-animation-name: slideHeadUp;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: 500ms;
    animation-name: slideHeadUp;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 500ms;
}
@-moz-keyframes slideHeadUp {
    0% {
        -moz-transform: translateY(100%);
    }
    100% {
        -moz-transform: translateY(0);
    }
}
@-webkit-keyframes slideHeadUp {
    0% {
        -webkit-transform: translateY(100%);
    }
    100% {
        -webkit-transform: translateY(0);
    }
}
@keyframes slideHeadUp {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}