/*
 * GENERAL
 * ============================================================ */
@import url(//fonts.googleapis.com/css?family=Open+Sans);

/* keep text from being highlighted */
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    background-color: #eee;
    font-family: "Open Sans", HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0; /* reset */
    overflow-x: hidden; /* hide content pushed out by transition */
    -webkit-font-smoothing: antialiased; /* smoother looking fonts */
}


/*
 * NAVIGATION + WRAP
 * ============================================================ */
.nav {
    background-color: #222;
    height: 100%;
    position: fixed;
    text-align: center;
    text-transform: uppercase;
    z-index: 1;
    /* fixed transition value */
    left: -250px;
    width: 250px;
}
.nav > ul {
    list-style: none;
}
.nav > ul > li {
    margin: 0;
}
/**
 * CLOSE BUTTON
 */
/* show the close button when the nav is toggled */
#nav-toggle:checked ~ .nav .close-button {
    display: block;
}
.nav .close-button {
    background: #ddd;
    color: #333;
    display: none; /* hide the close button by default */
    margin: 0 auto;
    /* important values for styling the button */
    border-radius: 50%;
    font-size: 18px;
    line-height: 36px;
    position: absolute;
    top: 0;
    right: -18px; /* 1/2 width */
    width: 36px; height: 36px;
}
.nav label:hover .close-button {
    background-color: #fff;
    color: #111;
}
/**
 * MENU ITEMS
 */
.nav > ul > li > a {
    border-bottom: 1px solid #555;
    color: #eee;
    display: block;
    font-size: 1.2em;
    padding: 1em 0;
    text-decoration: none;
}
.nav > ul > li > label:hover,
.nav > ul > li > a:hover {
    background-color: #f0f0f0;
    color: #111;
    cursor: pointer;
}
/**
 * TOGGLE ANIMATION
 */
/* necessary for transition animation */
.wrap {
    position: relative;
    left: 0;
}
/* transition animation */
.nav,
.wrap {
    -webkit-transition: left 500ms;
    -moz-transition: left 500ms;
    -o-transition: left 500ms;
    transition: left 500ms;
}
/* checkbox input will always stay hidden */
#nav-toggle {
    display: none;
}
#nav-toggle:checked ~ .nav {
    left: 0;
}
#nav-toggle:checked ~ .wrap {
    left: 250px; /* fixed transition value */
}


/*
 * HEADER
 * ============================================================ */
.header {
    background-color: #333;
    color: #f8f8f8;
    cursor: pointer;
    font-size: 2.65em;
    font-size: 4rem;
    letter-spacing: 0.1rem;
    text-align: center;
    /* header height */
    height: 2em;
    line-height: 2em;
}
.header > .container {
    height: 100%;
}
/**
 * HAMBURGER
 */
.hamburger {
    color: #222;
}
.hamburger:hover {
    color: #eee;
}
/**
 * LOGO
 */
.logo {
    background-color: #555;
    border-radius: 6px;
    color: #333;
    display: inline;
    padding: 0 8px;
}
.header:hover .logo {
    background-color: #a32c2c;
    color: #4c0000;
}
/* reset logo animation when hamburger icon is hovered */
.hamburger:hover ~ .logo {
    background-color: #555;
    color: #333;
}


/*
 * CONTENT
 * ============================================================ */
h3 {
    color: #666;
    letter-spacing: -0.01rem;
    line-height: 1.37;
    margin: 3rem 0;
}
h3 > span {
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.9);
}
h3 strong {
    color: #555;
}
/**
 * HEADSHOT
 */
.headshot {
    bottom: 0;
    left: 0; right: 0; /* center horizontally */
    margin: 0 auto; /* ditto */
    max-width: 100%;
    position: fixed;
    -webkit-transition: bottom 800ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
    -moz-transition: bottom 800ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
    -o-transition: bottom 800ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
    transition: bottom 800ms cubic-bezier(0.17, 0.04, 0.03, 0.94); /* slide up animation */
}
@media only screen and (min-width: 500px) {
    .headshot {
        height: 50%;
    }
}