---
layout: default
---

{% assign date = page.updated | default: page.date %}
<main class="container post" id="main" role="main">
  <header class="post-header" role="header">
    <h1 class="post-title">{{ page.title }}</h1>
    <h6 class="post-meta">
      <time datetime="{{ date | date_to_xmlschema }}">{{ date | date: "%b %d, %Y" }}</time>
      {% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %} •
      <a href="/blog/">Blog</a> •
      <a href="{{ site.github.repository_url }}/blob/master/{{ page.relative_path }}" target="_blank" rel="noopener noreferrer">Edit</a>
    </h6>
  </header><hr>
  <article class="post-content">{{ content }}</article>
  <script>
    document
      .querySelector('.post-content')
      .querySelectorAll('h1,h2,h3,h4,h5,h6')
      .forEach(function(heading) {
        if (heading.id)
          heading.innerHTML =
            '<a href="#' + heading.id + '">' +
              heading.innerText +
            '<\/a>' +
            '<span class="anchor-icon">§<\/span>';
      });
  </script>
  <br>{% include promo.html %}<br>
  <br>{% include disqus.html %}<br>
</main>
