---
layout: default
---

{% assign date = page.updated | default: page.date %}
<main class="container post" id="main" role="main">
  <header class="post-header" role="header">
    <h1 class="post-title">{{ page.title }}</h1>
    <h6 class="post-meta">
      <time datetime="{{ date | date_to_xmlschema }}">{{ date | date: "%b %-d, %Y" }}</time>
      {% if page.author %} • {{ page.author }}{% endif %}
      {% if page.meta %} • {{ page.meta }}{% endif %} •
      <a href="/blog/">Blog</a> •
      <a href="{{ site.github.repository_url }}/blob/master/{{ page.relative_path }}" target="_blank" rel="noopener noreferrer">
        Edit
      </a>
    </h6>
  </header>
  <hr>
  <article class="post-content">{{ content }}</article>
  <br>
  {% include promo.html %}
  <br><br>
  {% include disqus.html %}
  <br>
</main>
{% comment %}

<!-- Heading links -->
{% endcomment %}
<script>
  document
    .querySelector('.post-content')
    .querySelectorAll('h1,h2,h3,h4,h5,h6')
    .forEach(function (heading) {
      if (heading.id)
        heading.innerHTML =
          '<a href="#' + heading.id + '">' +
            heading.innerText +
          '<\/a>' +
          '<span class="anchor-icon">§<\/span>';
    });
</script>
{% comment %}

<!-- Copy code to clipboard -->
{% endcomment %}
<script>
  document
    .querySelectorAll('.post-content pre.highlight')
    .forEach(function (pre) {
      var button = document.createElement('button');
      var copyText = 'Copy';
      button.type = 'button';
      button.ariaLabel = 'Copy code to clipboard';
      button.innerText = copyText;
      button.addEventListener('click', function () {
        var code = pre.querySelector('code').innerText;
        try {
          code = code.trimEnd();
        } catch (e) {
          code = code.trim();
        }
        navigator.clipboard.writeText(code);
        button.innerText = 'Copied';
        setTimeout(function () {
          button.blur();
          button.innerText = copyText;
        }, 2e3);
      });
      pre.appendChild(button);
    });
</script>
